<div class="main-page">
  <div class="mission">
    <p>We’re reimagining how you buy, sell and rent. It’s now easier to get into a place you love. So let’s do this, together.</p>
  </div>
  <hr>
  <div class="option-cards">
    <div class="buy">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/buy.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Buy a home</h5>
          <p class="card-text">Find your place with an immersive photo experience and the most listings, including things you won’t find anywhere else.</p>
          <a href="#" class="btn btn-primary">Search homes</a>
        </div>
      </div>
    </div>
    <div class="sell">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/sell.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sell a home</h5>
          <p class="card-text">Whether you sell with new Zillow Offers™ or take another approach, we’ll help you navigate the path to a successful sale.<p>
          <a href="#" class="btn btn-primary">See your options</a>
        </div>
      </div>
    </div>
    <div class="rent">
      <div class="card">
        <img class="card-img-top" src="../../assets/img/rent.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Rent a home</h5>
          <p class="card-text">We’re creating a seamless online experience – from shopping on the largest rental network, to applying, to paying rent.</p>
          <a href="#" class="btn btn-primary">Find rentals</a>
        </div>
      </div>
    </div>
  </div>
</div>
