a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  height: 80px;
}

.nav-left {

}

.nav-center {

}

.nav-right {
  
}
