a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  height: 10vh;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid black;

  .nav-left {

  }

  .nav-center {

    #nav-logo {
      width: 130px;
    }
  }


  .nav-right {

  }
}
