<div class="hero">
  <div class="hero-fade">
    <div class="search-container">
      <h1>Find your way home®</h1>
      <div class="home-page-tabs">
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <form class="search-form">
        <input type="text" name="" value="">
        <button type="submit" name="button">Search</button>
      </form>
    </div>
    <div class="bottom-banner">
      <div class="banner-left">
        <p><strong>Be ready to buy</strong> Get pre-qualified by a local lender on Zillow</p>
      </div>
      <button type="button" name="button">Get started</button>
    </div>
  </div>
</div>
